{% extends 'base.html' %}
{% load static %}
{% static 'images' as baseUrl %}

{% block content %}

<!-- hero area start -->
<section class="hero-area" id="home">
    <div class="container">
        <div class="hero-area-slider">
            {% for movies in object_list %}
            <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <a href="{{ movies.get_absolute_url }}">
                        <div class="hero-area-content">                            
                            <img src="{{ movies.avatar.url }}" alt="about" />                            
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <a href="{{ movies.get_absolute_url }}"><h2>{{ movies.title }}</h2></a>
                        <div class="review">
                            <i class="icofont icofont-tags">
                                {% for genre in movies.genres.all %}
                                <a href="{% url 'movies:genre_list' genre.slug  %}">{{ genre.title}}{% if not forloop.last %}, {% endif %}</a>
                                {% endfor %}
                            </i>
                            <h4>{{ movies.genre }}</h4>
                        </div>
                        <p>{{ movies.description|safe|slice:":200"  }}...</p>
                        <h3>Cast:</h3>
                        <div class="slide-cast">
                            {% for cast in movies.casts.all %}
                            <div class="single-slide-cast">
                                <img src="{{ cast.imagelink }}" alt="about" style="object-fit: scale-down;" title="{{ cast.name }}" />
                            </div>
                            {% empty %}
                            <p>Casts not available... :(</p>
                            {% endfor %}
                            <!-- <div class="single-slide-cast text-center">
                                5+
                            </div> -->
                        </div>
                        <div class="slide-trailor">
                            <!-- <h3>New Episode:</h3> -->
                            <a class="theme-btn theme-btn2" href="{{ movies.get_absolute_url }}"><i class="icofont icofont-download"></i> Download</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for series in series %}
            <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <a href="{{ series.get_absolute_url }}">
                        <div class="hero-area-content">                            
                            <img src="{{ series.avatar.url }}" alt="about" />                            
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <a href="{{ series.get_absolute_url }}"><h2>{{ series.title }}</h2></a>
                        <div class="review">
                            <i class="icofont icofont-tags">
                                {% for genre in series.genres.all %}
                                <a href="{% url 'tvseries:genre_list' genre.slug  %}">{{ genre.title}}{% if not forloop.last %}, {% endif %}</a>
                                {% endfor %}
                            </i>
                            <h4>{{ series.genre }}</h4>
                        </div>
                        <p>{{ series.description|safe|slice:":200"  }}...</p>
                        <h3>Cast:</h3>
                        <div class="slide-cast">
                            {% for cast in series.casts.all %}
                            <div class="single-slide-cast">
                                <img src="{{ cast.imagelink }}" alt="about" style="object-fit: scale-down;" title="{{ cast.name }}" />
                            </div>
                            {% empty %}
                            <p>Casts not available... :(</p>
                            {% endfor %}
                            <!-- <div class="single-slide-cast text-center">
                                5+
                            </div> -->
                        </div>
                        <div class="slide-trailor">
                            <h3>New Episode:</h3>
                            <a class="theme-btn theme-btn2" href="{{ series.get_absolute_url }}"><i class="icofont icofont-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div></div>
        </div>
        <div class="hero-area-thumb">
            <div class="thumb-prev">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <!-- <h1 class="mt-5 icofont icofont-ui-previous"></h1> -->
                            <img src="assets/img/slide3.png" alt="about" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>Last Avatar</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p></p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast1.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast2.html' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast3.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast4.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast5.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast6.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast7.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-next">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="assets/img/slide1.png" alt="about" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>The Deer God</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know how to be evil or any of the common actions,   She is unable to cry due to Keita's accidental first wish, despite needed for him to wish...</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast1.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast2.html' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast3.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast4.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast5.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast6.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="{% static 'img/cast/cast7.png' %}" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- hero area end -->
<!-- portfolio section start -->
<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-movie"></i> Series Lists</h1>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        <li data-filter=".L" class="active">Latest</li>
                        <li data-filter=".S">Coming Soon</li>
                        <li data-filter=".T">Top Rated</li>
                        <li data-filter=".R">Recently Released</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="listmenu">
            <ul>
                {% for i in alphabet %}
                    <a href="{% url 'tvseries:searchlist' %}?list={{i}}" class="btn"><li class="pr-0" data-filter="">{{i}}</li></a>
                {%endfor%}
                <!-- <a href="{% url 'tvseries:searchlist' %}?list=a"><li class="pr-4" data-filter="">A</li></a> -->
                <a href="{% url 'tvseries:searchlist' %}?list=#"><li class="pr-4" data-filter="">#</li></a>
            </ul>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-9">
                <div class="row portfolio-item">
                    {% for series in series %}
                    <div class="col-md-4 col-sm-6 {{ series.label }}">
                        <div class="single-portfolio" >
                            <div class="single-portfolio-img">
                                <a href="{{ series.get_absolute_url }}" >
                                    <img src="{{ series.avatar.url }}" alt="portfolio" style="width: 265px; height: 425px; object-fit: fill;"/>
                                </a>
                                <!-- <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a> -->
                            </div>
                            <div class="portfolio-content">
                                <a href="{{ series.get_absolute_url }}"><h6 class="text-center">{{ series.title }}</h6></a>
                                <!-- <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if is_paginated %}
                <div class="details-thumb">
                    {% if page_obj.has_previous %}
                    <div class="details-thumb-prev">
                        <div class="thumb-icon">
                            <a href="/series/?page={{ page_obj.previous_page_number }}"><i class="icofont icofont-simple-left"></i></a>
                        </div>
                        <div class="thumb-text">
                            <h4>Previous List</h4>
                            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="details-thumb-prev">
                        <div class="thumb-icon">
                            <!-- <a href="" disabled><i class="icofont icofont-simple-left"></i></a> -->
                        </div>
                        <!-- <div class="thumb-text">
                            <h4>Previous List</h4>
                            <p>Standard Post With Gallery</p>
                        </div> -->
                    </div>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <div class="details-thumb-next">
                        <div class="thumb-text">
                            <h4>Next List</h4>
                            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                        </div>
                        <div class="thumb-icon">
                            <a href="/series/?page={{ page_obj.next_page_number }}"><i class="icofont icofont-simple-right"></i></a>
                        </div>
                    </div>
                    {% else %}
                    <div class="details-thumb-next">
                        <div class="thumb-icon">
                            <!-- <a href="" disabled><i class="icofont icofont-simple-left"></i></a> -->
                        </div>
                        <!-- <div class="thumb-text">
                            <h4>Previous List</h4>
                            <p>Standard Post With Gallery</p>
                        </div> -->
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-3 text-center text-lg-left">
                <div class="portfolio-sidebar">
                    <img src="{% static 'img/sidebar/sidebar1.png' %}" alt="sidebar" />
                    <img src="{% static 'img/sidebar/sidebar2.png' %}" alt="sidebar" />
                    <img src="{% static 'img/sidebar/sidebar3.png' %}" alt="sidebar" />
                    <img src="{% static 'img/sidebar/sidebar4.png' %}" alt="sidebar" />
                </div>
            </div>
        </div>
    </div>
</section><!-- portfolio section end -->
<!-- video section start -->
<section class="video ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-film"></i> Trailers & Videos</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="video-area">
                    <img src="{% static 'img/video/video1.png' %}" alt="video" />
                    <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                        <i class="icofont icofont-ui-play"></i>
                    </a>
                    <div class="video-text">
                        <h2>Angle of Death</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>180k voters</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="{% static 'img/video/video2.png' %}" alt="video" />
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="{% static 'img/video/video3.png' %}" alt="video" />
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- video section end -->
<!-- news section start -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-coffee-cup"></i> Latest News</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="news-slide-area">
        <div class="news-slider">
            <div class="single-news">
                <div class="news-bg-1"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
            <div class="single-news">
                <div class="news-bg-2"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
            <div class="single-news">
                <div class="news-bg-3"></div>
                <div class="news-date">
                    <h2><span>NOV</span> 25</h2>
                    <h1>2017</h1>
                </div>
                <div class="news-content">
                    <h2>The Witch Queen</h2>
                    <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                </div>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="news-thumb">
            <div class="news-next">
                <div class="single-news">
                    <div class="news-bg-3"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="news-prev">
                <div class="single-news">
                    <div class="news-bg-2"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- news section end -->

{% endblock content %}